.price {
    margin-bottom: 3rem;

    text-align: center;
    font-size: 9.6rem;
    color: var(--primary);
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: var(--letter-spacing);

    s {
        margin-right: 2rem;

        font-size: 6.4rem;
        opacity: 0.6;
    }
}



@media (max-width: 768px) {
    .price {
        font-size: 4.8rem;

        s {
            font-size: 4rem;
        }
    }
}